.img-con > img{
	position: absolute;
}

.bg {
	width: 62%;
	top: -20%;
	right: -16%;
}

.mockups {
	width: 42%;
	top: 0;
	right: -9%;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 60vh;
	gap: 30px;
	padding: 30px;
	margin: 50px;
}

.header > p {
	align-self: center;
		
}


.header > h1 {
	align-self: flex-start;
	font-size: 3.5em;
	font-weight: 300;
	color: var(--Dark-Blue);
}

